<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="/" class="logo" style="text-transform: none;">
                            <h1 style="display:flex;">D<span style="text-transform: lowercase;">ev</span>L<span
                                    style="text-transform: lowercase;">ance</span></h1>
                        </a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#services">Explore</a></li>
                            <li class="scroll-to-section"><a href="#courses">Services</a></li>
                            <li class="scroll-to-section"><a href="#team">DevLancers</a></li>
                            <li class="scroll-to-section"><a href="/login">Login</a></li>
                            <li class="scroll-to-section"><a href="/register">Register Now!</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>